@font-face {
  font-family: 'Marvin Visions Variable';
  src: url(MarvinVisions-Variable.woff2) format("woff2"), 
    url(MarvinVisions-Variable.woff) format("woff"),
    url(MarvinVisions-Variable.ttf) format("truetype");
  font-weight: 20 170;
}

@font-face {
  font-family: 'Marvin Visions Big Bold';
  src: url('./MarvinVisionsBig-Bold.eot');
  src: url('./MarvinVisionsBig-Bold.eot?#iefix') format('embedded-opentype'),
       url('./MarvinVisionsBig-Bold.woff2') format('woff2'),
       url('./MarvinVisionsBig-Bold.woff2') format('woff2');

  font-weight: 170;
  font-style: normal;
  font-kerning: auto;

}

.marvin-visions-big-bold {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 170;
  font-kerning: auto;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-big-demibold {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 140;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-big-medium {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 100;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-big-regular {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 80;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-big-light {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 50;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-big-extralight {
  font-family: 'Marvin Visions Variable';
  font-size: 10vw;
  font-weight: 20;
  font-variation-settings: 'opsz' 100;
}

.marvin-visions-small-bold {
  font-family: 'Marvin Visions Variable';
  font-size: 5vw;
  font-weight: 140;
  font-variation-settings: 'opsz' 80;
}

.marvin-visions-small-medium {
  font-family: 'Marvin Visions Variable';
  font-size: 5vw;
  font-weight: 110;
  font-variation-settings: 'opsz' 80;
}

.marvin-visions-small-regular {
  font-family: 'Marvin Visions Variable';
  font-size: 5vw;
  font-weight: 90;
  font-variation-settings: 'opsz' 80;
}

.marvin-visions-small-light {
  font-family: 'Marvin Visions Variable';  
  font-size: 5vw;
  font-weight: 40;
  font-variation-settings: 'opsz' 80;
}